/* load fonts from assets */
@font-face {
  font-family: 'Gordita';
  src: url('/assets/fonts/Gordita\ Light.otf') format('opentype'), url('/assets/fonts/Gordita\ Regular.otf') format('truetype');
}

body {
  font-family: 'Gordita', sans-serif;
}