/* load fonts from assets */
@font-face {
  font-family: 'Gordita';
  src: url('../public/assets/fonts/Gordita\ Light.otf') format('opentype'), url('../public/assets/fonts/Gordita Light.otf') format('truetype');
}

body {
  font-family: 'Gordita', sans-serif;
}